.add-option__error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
  padding-bottom: 2rem !important;
}
.add-option {
  display: flex;
  padding: $m-size;
}
.add-option__input {
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  color: white;
  flex-grow: 1;
  margin-right: $s-size;
  padding: $s-size;
}
