// Widget
.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}
// Widget Header
.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}
  // Widget Header -- Title
  .widget-header__title {
    margin: 0;
  }
// Widget Start
.widget__message {
  border-bottom: 1px solid lighten($light-blue, 10%);
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
}
